.lightblack{background: #455a64;}
.prioritybox{width:100%; margin: 23px 0 0 0px; padding: 0px; text-align: center; border-radius: 3px; overflow: hidden;}
.prioritybox ul{list-style: none; margin: 0px; padding: 0px;}
.prioritybox ul li{display: inline-block; width: 32.33333%;}
.prioritybox ul li span{display: block; text-align: center; text-transform: uppercase; font-size: 14px;}
.prioritybox ul li span:first-child{padding-bottom: 3px;}
.prioritybox ul li span:last-child{background: #333; font-size: 1.8rem;}
.pripad{padding: 10px 0 0 0 !important;}
.plbg{background: #e5e4e2;}
.plclr{color: #e5e4e2;}
.glbg{background: #FFD700;}
.glclr{color: #FFD700;}
.slbg{background: #C0C0C0;}
.slclr{color: #C0C0C0;}

.responsive_info p{font-size: 13px !important;}
.plbox{background: #e5e4e2; display: inline-block; padding: 5px 10px; box-shadow: 0 0 2px #555;}
.glbox{background: #FFD700; display: inline-block; padding: 5px 10px; box-shadow: 0 0 2px #555;}
.slbox{background: #C0C0C0; display: inline-block; padding: 5px 10px; box-shadow: 0 0 2px #555;}
.nlbox{background: transparent; display: inline-block; padding: 5px 10px;}
.erbox{background: transparent; color: #f00; display: inline-block; padding: 5px 10px;}
.boxmodi{text-transform: uppercase; font-size: 10px; padding: 3px 6px !important; width: 71px;}